* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Flight Section */

.mid-navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}
.siteLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
  margin-left: 50px;
}
.siteLogo img {
  cursor: pointer;
  width: 180px;
  height: 50px;
}
.mid-nav-category {
  background-color: white;
  width: 100%;
  border-radius: 7px;
}
.mid-nav-category ul {
  display: flex;
  text-align: center;
}
.mid-nav-category li {
  text-decoration: none;
  list-style: none;
  line-height: 22px;
  cursor: pointer;
  margin-right: 15px;
}
.mid-nav-category li:hover {
  color: #0288d1;
}

.mid-nav-category div {
  padding: 10px;
}
.mid-nav-category i {
  font-size: 25px;
  color: #2c2c2c;
}
.mid-nav-category i:hover {
  color: #0288d1;
}
.mid-nav-category p {
  font-size: 14px;
}

/* namrata */

#main-container {
  background: rgb(232, 232, 232);
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 600px;
  height: 250px;
  /*position: sticky;
  top:0;
  z-index: 999;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#cont {
  width: 100%;
  height: 150px;
  margin: auto;
  padding-top: 1%;
  /* position: absolute;
    left: 1%; */
}
#searchbar {
  width: 1200px;
  margin: 0 auto;
}

#searchwidget {
  height: 70px;
  display: flex;
  box-sizing: border-box;
  padding: 11px 0;
}
.triptype {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-right: 5px;
  /* position: relative; */
  width: 125px;
  min-height: 46px;
  flex-direction: column;
  display: flex;
}

.lbl_input {
  background-color: rgba(255, 255, 255, 0.1);
  text-transform: uppercase;
  padding: 4px, 9px, 0;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  /* line-height: 14px; */
  color: #008cff;
  margin-bottom: 5px;
  display: block;
}
#multidropdown{
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  border: none;
  min-width: 120px;
  min-height: 30px;
  padding: 4px 9px;
  font-size: 14px;
}
.innerbox {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  margin-right: 5px;
  min-width: 160px;
  min-height: 40px;
  flex-direction: column;
  display: flex;
}
 
.inputField {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  min-width: 140px;
  min-height: 30px;
  padding: 4px 9px;
  font-size: 15px;
  border: none;
  outline: none;
}
.fa-right-left {
  color: white;
  padding:4px 9px;
}


#submit {
  background: rgb(61, 184, 209);
  background: linear-gradient(
    90deg,
    rgba(61, 184, 209, 1) 29%,
    rgba(67, 138, 242, 1) 63%
  );
  width: 176px;
  height: 40px;
  text-align: center;
  flex-direction: row;
  border-radius: 24px;
  margin-left: 30px;
 border:none;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

/* /faretype/ */
#fareTypeWrapper {
  height: 70px;
}
.farecategory {
  display: flex;
}
.farecategory input {
  margin-right: 10px;
}
.farecategory .fareTypeOptions {
  color: rgba(0, 0, 0, 0.85);
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  list-style-position: outside;
}
.farecategory li {
  position: relative;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  background: #364c63;
  margin-left: 1px;
  display: inline-flex;
  align-items: center;
  height: 45px;
  min-width: 80px;
  max-width: 134px;
  line-height: 14px !important;
}
.farecategory span {
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: rgb(155, 155, 155);
  line-height: 10px;
}

/* /filter/ */
.bodyContainer {
  width: 100%;
  /* position: absolute; */
  /* top: 250px; */
  background-color: #eeeeee;
  height: fit-content;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /*color: antiquewhite;*/
  gap: 10px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1200px;
}

.left {
  box-shadow: 0 3px 30px 0 rgb(0 0 0 / 10%);
  width: 295px;
  background-color: #fff;
  height: fit-content;
}

.right {
  width:885px;
}

.filter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
 /* height: 700px;*/
}
.filter-container > .popular {
  padding: 12px 15px;
  margin-bottom: 5px;
  color:#000000;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap:20px;
  
}
.filter-container > .airlines {
  padding: 12px 15px;
  margin-bottom:5px;
  color:#000000;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap:20px;
  
}
.airlines{
  font-weight: 700;
  color: rgb(10, 62, 73);
}
.popular{
  font-weight: 700;
  color: rgb(10, 62, 73);
}




/* fetchedData */

#flightDataContainer{
  /*border: 2px solid red; */
 background-color: white;
}
 .heading{
  color: rgb(10, 62, 73);
 
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 24px;
  font-weight: 600;
}
.bannersContainer{
  width:100%;
  margin:10px auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 12px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 253, 233));
}
.bannersCard{
 width: 34px;
 height: 34px;
}

.bannersCard>img{
  width: 34px;
  height: 34px;
}

.withBtnSection{
  display: flex;
  flex-direction: column;
  gap: 5px ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bannerHeading{
  font-size: 13px;
}
.bannerContent{
  font-size: 11px;
}

.bannerContent>span{
  color: #008cff;
}
.contentWithIcon{
  display: flex;
  align-items: center;
}
.dateContainer {
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background: #fff;
  box-shadow: 0 4px 7px 0 rgb(138 107 118 / 20%);
  border-radius: 2px;
  margin: 5px 0;
}
.arrowContainer {
  border-right: 1px solid #eaeaea;
  box-shadow: 0 4px 7px 0 rgb(138 107 118 / 20%);
  border-radius: 2px;
  background: #fff;
  width: 34.7px;
  height: 71px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.arrowContainer>img{
  width: 29px;
}
.dateDisplayContainer {
  display: flex;
}
.dateDisplayItems {
  padding: 13px 0;
  width: 102px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #eaeaea;
  box-sizing: border-box;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.dateDisplayItems > div:nth-child(1) {
  font-size: 12px;
}

.dateDisplayItems > div:nth-child(2) {
  color: rgb(22, 190, 72);
  font-size: 12px;
}

.dateDisplayItems:hover {
  color: rgb(0, 145, 255);
  border-bottom: 3px solid #0091ff;
}

.dateDisplayItems:hover > div:nth-child(2) {
  color: rgb(0, 145, 255);
}
.mainFlightDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    width: 100%;
    height: 188px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom:30px ; 
    font-family: sans-serif;
}

.mainFlightDiv p{
    margin-top: 10px;
    color: #37474F;
}
.mainFlightDiv h3,.mainFlightDiv h2{
  color: #000000;
} 
.inner1FlightDiv{
    display: flex; 
    width: fit-content;
}
.inner1FlightDiv > div{
    display: flex;
    justify-content: center;
    align-items: center;  
}
.inner1FlightDiv img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.inner3FlightDiv hr{
    border: 1px solid #76FF03;
}
.mainFlightDiv button{
 width: 130px;
 height: 35px;
 border-radius: 1.5rem;
 border: 1px solid #0277BD;
 background-color: #81D4FA;
 color: #0277BD;
 font-size: 15px;
 font-weight: 700;
 font-family: sans-serif;
 cursor: pointer;
}
.mainFlightDiv button:hover{
    border: 1px solid #81D4FA;
    background-color: #0277BD;
    color: #81D4FA;
}

 








