*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }

   /* Flight Section */

.mid-navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .siteLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-left: 50px;
  }
  .siteLogo img{
    cursor: pointer;
    width: 180px;
    height: 50px;
  }
  .mid-nav-category {
    background-color: white;
    width: 100%;
    border-radius: 7px;
 
  }
  .mid-nav-category ul {
    display: flex;
    text-align: center;
  }
  .mid-nav-category li {
    text-decoration: none;
    list-style: none;
    line-height: 22px;
    cursor: pointer;
    margin-right: 15px;
  }
  .mid-nav-category li:hover{
    color: #0288D1;
  }
  
  .mid-nav-category div {
    padding: 10px;
  }
  .mid-nav-category i {
    font-size: 25px;
    color: #2c2c2c;
  }
  .mid-nav-category i:hover {
    color: #0288D1;
  }
  .mid-nav-category p {
    font-size: 14px;
  }

/* <----Info-----> */

.aboutGoMyTrip{
padding: 30px;
font-family: Arial, Helvetica, sans-serif;

}
.aboutGoMyTrip p{
    color: #4A4A4A;
    font-size: 13px;
    margin-bottom: 20px;
}
.aboutGoMyTrip h6{
    color: #000000;
    margin-bottom: 10px;
    cursor: pointer;
}

.infofooter{
    background-color: #E7E7E7;
    display: flex;
    justify-content: space-around;
}
.infofooter div{
    width: 30%;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4A4A4A;
}
.infofooter h4{
    font-size: 16px;
    margin-bottom: 20px;
    color: #000000;
    cursor: pointer;
}


/* <----footer-----> */
.footer{
    background-color: #000000;
}
.footerDivs{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footerDivs h3{
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #546273;
    cursor: pointer;    
}
.footerDivs p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color:aliceblue;
    margin-bottom: 20px;

}
.socialMediaImg{
    margin-bottom: 30px;
}
.socialMediaImg img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}