body{
    margin: 0%;
    padding: 0%;
}
.mid-navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
      top: 0;
      z-index: 999;
      background-color: white;
  }
  .siteLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-left: 50px;
  }
  .siteLogo img {
    cursor: pointer;
    width: 180px;
    height: 50px;
  }
  .mid-nav-category {
    background-color: white;
    width: 100%;
    border-radius: 7px;
  }
  .mid-nav-category ul {
    display: flex;
    text-align: center;
  }
  .mid-nav-category li {
    text-decoration: none;
    list-style: none;
    line-height: 22px;
    cursor: pointer;
    margin-right: 15px;
  }
  .mid-nav-category li:hover {
    color: #0288d1;
  }
  
  .mid-nav-category div {
    padding: 10px;
  }
  .mid-nav-category i {
    font-size: 25px;
    color: #2c2c2c;
  }
  .mid-nav-category i:hover {
    color: #0288d1;
  }
  .mid-nav-category p {
    font-size: 14px;
  }
  
.body{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    margin-left: 11%;
}
.body>img:nth-child(1){
    width: 36%;
    border-radius: 12px;
}
.smallImageDiv{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
}
.smallImageDiv>img:nth-child(1){
    width: 100%;
    height: 49%;
    border-radius: 12px;
}
.smallImageDiv>img:nth-child(2){
    width: 100%;
    height: 49%;
    border-radius: 12px;
}
.detailsDiv{
    width: 25%;
    margin-left: 8PX;
}
.priceDetailDiv{
    width: 97%;
    height: 48%;
    border: 2px solid rgb(165, 158, 158);
    border-radius: 10px;
    padding-left: 3%;
    font-family: Lato;
}
.priceDetailDiv>p{
    font-size: 12px;
}
#bookToCart{
    margin-left: 5%;
    border: none;
    color: white;
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    background: rgb(108,211,238);
    background: linear-gradient(90deg, rgba(108,211,238,1) 7%, rgba(0,87,255,1) 97%);
    border-radius: 20px;
    padding: 2%;
    cursor: pointer;
}
.viewRoomMapReview{
    font-family: Lato;
    font-weight: bolder;
    color: #008cff;
}
.locationRatingDiv{
    width: 100%;
    height: 48%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
}
.locationRatingDiv>div{
    width: 48%;
    border: 2px solid rgb(165, 158, 158);
    border-radius: 10px;
    text-align: center;
}
.locationRatingDiv>div:nth-child(1)>img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
}
#nameHotelh1{
    margin-left: 11%;
    font-family: Lato;
}
#rating{
    width: 60%;
    height: 40%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #065af3;
    margin: auto;
    margin-top: 14%;
    font-size: 3rem;
}
.lowerNav{
    position: sticky;
    top: 0;
    background-color: white;
    margin-top: 4%;
    padding-top: 1%;
}
.lowerNavlinks{
    width: 90%;
    margin: auto;
    
}
.lowerNavlinks>a{
    padding-right: 2%;
    padding-left: 4%;
    font-family: Lato;
    font-weight: bold ;
    color: black;
    text-decoration: none;
}

#detailPart p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.detailHeaderh3{
    font-family: Lato;
}
#amendities{
    width: 83%;
    margin: auto;
    margin-top: 3%;
}
#amenDivs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#amenDivs div{
    display: flex;
    flex-direction: row;
    width: 20%;
}
#amenDivs img{
    border: 2px solid rgb(175, 175, 237);
    border-radius: 50%;
    margin-right: 5%;
}
#amenDivsTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#amenDivsTwo h4{
    font-family: Lato;
}
#amenDivsTwo div{
    width: 18%;
}

#location{
    width: 83%;
    margin: auto;
    margin-top: 3%;
}
#location img{
    width: 100%;
    border: 1px solid black;
}
#propertyRules{
    width: 83%;
    margin: auto;
}
#propertyRules li{
    font-family: Lato;
    margin-top: 12px;
    font-size: 15px;
    font-weight: 500;
}
#propertyRules>div{
    display: flex;
    flex-direction: row;
}
#propertyRules>div div{
    width: 50%;
}
#review{
    width: 83%;
    margin: auto;
    margin-top: 3%;
}
#review img{
    width: 100%;
}