* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eeeeee;
}

.main-container {
  background: rgb(232, 232, 232);
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #051322, #15457c);
  background-size: 100% 550px;
  height: 550px;
  /* border: 2px solid red; */
}
.container {
  width: 90%;
  margin: auto;
}
.fa-tag {
  color: #5e35b1;
  font-size: 22px;
}
.fa-briefcase {
  font-size: 22px;
  color: #ef5350;
}
.fa-person-walking-luggage {
  font-size: 22px;
  color: #ffa726;
}

.fa-chevron-down {
  margin-left: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}
.logo {
  width: 9%;
}
.logo > img {
  width: 100%;
}
.category-card {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card-item {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-icon > i {
  margin-right: 10px;
}

.category-text {
  color: #ffff;
  height: 42px;
  font-size: 15px;
  border-right: 0.6px dashed rgb(53, 52, 52);
  padding-right: 10px;
  padding-top: 10px;
  line-height: 15px;
}
.category-text > p {
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #eceff1;
}

.login-btn {
  background: rgb(61, 184, 209);
  background: linear-gradient(
    90deg,
    rgba(61, 184, 209, 1) 29%,
    rgba(67, 138, 242, 1) 63%
  );
  padding: 14px;
  color: white;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.category-card > div:nth-child(5) {
  margin-left: 3px;
}

.card-item img {
  width: 18px;
  margin-right: 10px;
}
.country-btn {
  background-color: #494949;
  padding: 14px;
  color: white;
  font-size: 11px;
  outline: none;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* Login form */
.btn-bg {
  background-color: #e1f5fe;
  display: flex;
  border-radius: 17px 17px 0px 0px;
}

.fa-circle-xmark {
  position: absolute;
  font-size: 20px;
  display: flex;
  color: #444;
  left: 93%;
  top: 2%;
  cursor: pointer;
}

.form_box {
  width: 500px;
  height: 540px;
  position: absolute;
  background: #ffff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  top: 0%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  border-radius: 15px;
  z-index: 15;
}
.btn-box {
  width: 90%;
  margin: 35px auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 8px;
  padding: 8px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.toggle-btn {
  padding: 8px 20px;
  cursor: pointer;
  position: relative;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  width: 49%;
  font-size: 14px;
  font-weight: 700;
}
.btn-box > button:nth-child(1) {
  background: rgb(61, 184, 209);
  background: linear-gradient(
    90deg,
    rgba(61, 184, 209, 1) 29%,
    rgba(67, 138, 242, 1) 63%
  );
  border-radius: 20px;
  color: white;
}
.btn-box > button:nth-child(2) {
  background: rgb(255, 137, 53);
  background: linear-gradient(
    90deg,
    rgba(255, 137, 53, 1) 6%,
    rgba(217, 97, 152, 1) 100%
  );
  border-radius: 20px;
  color: white;
}
.register-container {
  width: 90%;
  /* border: 2px solid black; */
  margin: auto;
}

.register-form {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 20px 0px;
  /* padding: 10px; */
  line-height: 30px;
}
.register-input {
  width: 80%;
  /* border: 1px solid green; */
}

.register-input > input {
  display: block;
  padding: 10px;
  border: 1px solid #e57373;
  width: 98%;
  border-radius: 5px;
}
.submit-btn {
  width: 40%;
  /* border: 2px solid red; */
}
.submit-btn > p {
  text-align: end;
  color: #ff7043;
}
.submit-btn > button {
  width: 100%;
  padding: 10px;
  background: rgb(158, 60, 151);
  background: linear-gradient(
    90deg,
    rgba(158, 60, 151, 1) 0%,
    rgba(233, 88, 30, 1) 100%
  );
  border: none;
  color: white;
  font-weight: 800;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
}
.register-container {
  position: absolute;
  top: 25%;
  left: 500px;
}
.register-bottom {
  text-align: center;
  padding: 10px;
  line-height: 30px;
}
.register-bottom img {
  width: 20px;
}
.register-bottom > p:nth-child(1) {
  font-size: 12px;
  font-weight: 700;
  color: #444;
}
.register-bottom-text {
  font-size: 13px;
}
.register-bottom-text span {
  color: red;
}
.register-text {
  color: #444;
}

.login-bottom img {
  width: 20px;
}
.login-input input {
  display: block;
  width: 100%;
  padding: 10px;
}
.login-container {
  position: absolute;
  width: 90%;
  left: 28px;
  margin: auto;
}
.login-input {
  /* border: 2px solid black; */
  margin-top: 40px;
  line-height: 30px;
}
.login-input button {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  font-size: 15px;
  font-weight: 800;
  padding: 6px;
  border-radius: 0;
}
.login-bottom {
  text-align: center;
  margin-top: 40px;
  line-height: 40px;
}
.login-bottom img {
  margin-top: 10px;
}

.login_tc {
  margin-top: 100px;
  font-size: 12px;
  width: 100%;
  font-weight: bold;
}
.login_tc span {
  color: #29b6f6;
  padding-left: 2px;
  padding-right: 2px;
}
.form_box {
  overflow: hidden;
}

/* Flight Section */

.mid-navbar {
  margin-top: 40px;
}
.mid-nav-category {
  background-color: white;
  width: 75%;
  border-radius: 7px;
  position: relative;
  top: 12%;
  left: 12.5%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 11;
}
ul {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  text-align: center;
}
li {
  text-decoration: none;
  list-style: none;
  line-height: 22px;
}

.mid-nav-category div {
  padding: 10px;
}
.mid-nav-category i {
  font-size: 25px;
  color: #2c2c2c;
}
.mid-nav-category p {
  font-size: 14px;
}

.trip-section {
  width: 100%;
  position: relative;
  background-color: white;
  border: 2px solid white;
  top: -40px;
  height: 315px;
  border-radius: 10px;
}

.trip-box {
  width: 95%;
  margin: auto;
}
.trip-category {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trip-category input {
  margin-right: 2px;
}
.trip-category label {
  margin-right: 7px;
  font-weight: 800;
  color: #444;
}
.trip-category p {
  color: #444;
}

.booking-section {
  width: 100%;
  border: 2px solid #eceff1;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 120px;
}
.booking-section div {
  border-right: 2px solid #eceff1;
  padding: 10px;
}
.booking-section i {
  color: #1976d2;
  position: relative;
  /* left: 30px; */
}
.booking-section p {
  font-size: 13px;
  color: #444;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.booking-section h3 {
  margin-top: 7px;
  font-size: 28px;
}
.booking-section span {
  font-size: 19px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 20;
}
.fa-right-left {
  position: absolute;
  left: 96%;
  bottom: 40%;
  background-color: #eceff1;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}
.booking-section div:hover {
  background-color: #e3f2fd;
}
.booking-section div:nth-child(2) {
  padding-left: 20px;
}

.fare-container {
  width: 100%;
  margin-top: 20px;
}
.fare-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fare-category div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fare-category input {
  margin-right: 10px;
}
.fare-category ul {
  display: flex;
  position: relative;
  background: #f2f2f2;
  border-radius: 4px;
}
.fare-category li {
  position: relative;
  padding: 8px 10px 8px 5px;
  cursor: pointer;
  font-size: 13px;
  color: #4a4a4a;
  border-left: solid 1px #fff;
  display: flex;
  align-items: center;
  height: 45px;
  min-width: 80px;
  max-width: 134px;
  line-height: 14px !important;
}
.fare-category span {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.trend span {
  margin-right: 7px;
}

.trend span:nth-child(2) {
  background-color: #efebe9;
  padding: 5px;
}
.trend span:nth-child(3) {
  background-color: #efebe9;
  padding: 5px;
}

.search-btn {
  width: 100%;
  height: 70px;
}
.search-btn button {
  width: 18%;
  position: relative;
  top: 25%;
  display: block;
  margin: auto;
  padding: 8px;
  border-radius: 30px;
  border: none;
  background: rgb(61, 184, 209);
  background: linear-gradient(
    90deg,
    rgba(61, 184, 209, 1) 29%,
    rgba(67, 138, 242, 1) 63%
  );
  font-size: 23px;
  color: white;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.explore {
  width: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.explore > div {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.fa-angle-down {
  padding: 0px 10px 0px 10px;
}
.explore h5 {
  padding: 6px;
}
.explore-card {
  width: 80%;
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 10px;
}
.explore-card > div {
  display: flex;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.explore-card > div > div {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: start;
  padding: 12px;
  background-color: white;
  border-right: 0.6px solid #727070;
}
.explore-card > div > div:hover {
  background-color: #e3f2fd;
}
.explore-card > div > div > img {
  width: 15%;
  margin-left: 10px;
}
.explore-card > div > div > p {
  margin-left: 10px;
  font-size: 14px;
}
.explore-card > div > div:nth-child(3) {
  width: 60%;
}
.explore-card > div > div:nth-child(4) {
  width: 60%;
}
.explore-card > div > div:nth-child(3) > img {
  width: 11%;
}
.explore-card > div > div:nth-child(5) {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-right: 1px solid white;
}
.explore-card > div > div:nth-child(1) {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

/* slider */
.offers-section {
  display: flex;
  width: 95%;
  padding: 30px 0px 15px 0px;
  margin: auto;
}
.offers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers-section > h1 {
  font-size: 38px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #302f2f;
}

.offers-category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-bottom: 1px solid #b6b3b3;
  line-height: 30px;
}
.offers-category > h4 {
  padding-right: 17px;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(56, 56, 56);
  font-weight: 800;
}
.offers-category > h4:nth-child(7) {
  padding-right: 0px;
}
.slider-btn {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.slider-btn > p {
  color: #1976d2;
  font-size: 19px;
  font-weight: 800;
}
.fa-right-long {
  font-size: 10px;
  margin: 6px 3px 6px 6px;
  color: #1976d2;
}
.fa-chevron-left {
  margin: 4px 0px 6px 6px;
  padding: 7px;
  width: 30px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}
.fa-chevron-right {
  margin: 4px 6px 6px 0px;
  padding: 7px;
  width: 30px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
}


